body {
    font-size: 18px;
    line-height: 1.5;
}

header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
    font-family: 'Poppins', sans-serif;
}

header, footer{
    background-color: lightsteelblue;
    color: #fff;
    text-align: center;
}

header {
    font-size: 25px;
    padding: 1.5rem;
}

header img {
    width: 100px;
    padding: 1rem;
}


#currentdate {color: rgba(255, 230, 129, 0.85);}