body {
    background-color: lightgray;
    padding: 2rem;
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}
header, footer{
    background-color: lightsteelblue;
    color: #fff;
    text-align: center;
}
header, footer {
    padding: 2rem;
    margin: 1.25rem auto;
}
h1, h2 {
    font-family: 'Inter', sans-serif;
    color: #fff;
}
h1{

}
p, h3 {
    font-family: 'Libre Baskerville', serif;
    line-height: 24px;
    font-size: 16px;
}

div {
    columns: 300px 3;
    margin: 0 auto;
}
